
/* FORMULARIOS */
.flex-container-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;
    align-items: center;
}
 
 .flex-container-radio{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex-container-check{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.label-check{
    margin-left: 15px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:whitesmoke;
    width: 100%;
}

label{
    margin-left: 10px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:whitesmoke;
    width: 100%;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    color: whitesmoke;
    background-color: black;
    margin-bottom: 10px;
}

.cont-label-input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

